<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/contact.css" type="text/css"/>
    <title>contatc</title>
  <style>
        form {
  margin:0 auto;
  width:300px
}
input {
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}
button {
  padding:10px
}
label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}

  </style>
</head>
<body>


<input type='checkbox' id='form-switch'>
<form id='login-form' action="" method='post'>
  <input type="text" placeholder="Username" name="username" required>
  <input type="password" placeholder="Password" name="password" required>
  <button type='submit'>Login</button>
  <label for='form-switch'><span>Register</span></label>
</form>
<form id='register-form' action="" method='post'>
  <input type="text" placeholder="Username" required>
  <input type="email" placeholder="Email" required>
  <input type="password" placeholder="Password" required>
  <input type="password" placeholder="Re Password" required>
  <button type='submit'>Register</button>
  <label for='form-switch'>Already Member ? Sign In Now..</label>
</form>



</body>
</html>