<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/contact.css" type="text/css"/>
    <title>contatc</title>
<body>
<p>Hello {{gmail}},</p>

<p>You or someone else has requested that a new password be generated for your account. If you made this request, then please click this link: <a href={{link}}><strong>reset password</strong></a>. If you did not make this request, then you can simply ignore this email.</p>

<p>Best,</p>
<p>Shantanu</p>
<p>Shantanu@services.io</p>


</body>
</html>